@font-face{font-family:Deutsch;src:url(/src/assets/font/medieval_sharp/MedievalSharp-Bold.ttf)}*{font-family:Deutsch;letter-spacing:.1em;font-weight:900;margin:0;padding:0}html,body{min-height:100vh}
